.selectedPage {
    font-weight: bold;
    margin: 5px;
    cursor: pointer;
    font-size: 15px;
}

.page {
    margin: 7px;
    font-size: 13px;
    cursor: pointer;
    /* padding-top: 10px */
}

.box {
    padding-top: 10px
}

.com {
    padding: 10px;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    width: 100%;
    margin: 0;
    font-size: 12px;
    text-align: start;
}

.mainEmpty {
    width: 100%;
    margin: auto;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
}

.list {
    overflow-y: auto;
    height: 400px;
}

.nav {
    text-decoration: none;
}

.nav:hover {
    color: aqua;
}

.text {
    color: black;
}

p {
    font-size: 12px;
    font-weight: bold;
    margin: 5px;
}